/* Seleciona todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Raíz do documento*/
:root {
  font-size: 62.5%;
}


/* Fundo do projeto */
body {
  display: flex;
  height: 100vh;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;

  background-color: #151516;
}

/* Bilhete */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 37.5rem;
  height: 81.2rem;
  margin: 0 auto;
  padding: 18.4rem 0 16.8rem 0;

  background-image: url(assets/img/mask.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #202024;
  
  box-shadow: 0 0 .9rem .1rem  white;
  border-radius: 0 0 10px 10px;
}

/* Minha foto */
.foto-perfil {
  margin-bottom: 2.4rem;
  width: 16.0rem;

  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.nome-perfil {
  margin-bottom: .4rem;
  font-weight: bold;
  font-size: 2.4rem;
}

/* Meu Github */
.github {
  display: flex;
  margin-bottom: 3.2rem;
  color: #C4C4CC;
}

.github .logo-github {
  margin-right: 1.2rem;
}

/* Link do meu Github */
.nome-perfil, .sobremim-perfil {
  color: #E1E1E6;
}

/* Cor do link do Github quando o mouse passa por cima */
.github .nome-github:hover {
  color: #202024;
  background-color: #C4C4CC;
}

/* Cor selecionada para quando o link do meu Github foi visitado */
.github .nome-github:visited {
  color: #C4C4CC; /*  ver uma cor de quando o site é visitado  */
}

/* Uma pequena descrição sobre mim */
.sobremim-perfil {
  margin-bottom: 6.4rem;
  width: 70%;
  text-align: center;
  font-size: 1.6rem
}

/* 
  Lista da minhas redes sociais
  Obs: Preciso melhorar o HTML
*/
.redes-socias {
  display: flex;
}

.redes-socias a {
  padding: 1.4rem;
  margin-right: 1.5rem;

  display: flex;
  list-style: none;
  background-color: #323238;
  border-radius: 10px;
}
